
        img{
            background-position:center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 250px;
            width: 350px;
            border-radius: 5px;
        }
        img:hover{
            opacity: .9;
        }