<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Page</title>
</head>
<body>

<h1>Contact Us!</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci commodi consectetur culpa, cum doloribus ducimus enim eum facere iusto libero mollitia nihil nulla odit perferendis perspiciatis reprehenderit saepe sit vero?</span><span>Aliquam aspernatur beatae blanditiis consequatur corporis debitis eius esse excepturi expedita, fuga fugiat incidunt minus molestias nam obcaecati officia optio repellat repellendus similique tempore temporibus ullam vel velit voluptatibus voluptatum!</span></p>


</body>
</html>