<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</head>
<body>
<h1 class="text-secondary text-center">Welcome To CareConnect</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet at autem commodi molestiae natus nisi, officiis quis ullam. Adipisci autem, distinctio eum libero mollitia numquam praesentium quaerat rem sequi.</span><span>Alias animi cum cupiditate eaque eligendi enim est explicabo facere fugiat, harum in ipsa natus necessitatibus nemo nostrum quaerat qui quia quo, rerum, veritatis. Harum iure possimus praesentium suscipit voluptas.</span></p>

<div class="container grid">
<img src="{% static 'assets/childrens-hospital-4043119_1280.jpg' %}" alt="">
<img src="{% static 'assets/doctor-840127_1280.jpg' %}" alt="">
<img src="{% static 'assets/hallway-5979689_1280.jpg' %}" alt="">
<img src="{% static 'assets/hospital-1802680_1280.jpg' %}" alt="">
<img src="{% static 'assets/medical-equipment-4099430_1280.jpg' %}" alt="">
</div>

</body>
</html>